@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Major+Mono+Display&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lexend Deca", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #686868;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
}

.information-back a {
  color: #FFF;
  text-decoration: none;
}

.information {
  height: 400px;
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  background-color: #1a1a1a;
  color: #FFF;
  padding-left: 10%;
}

.information-404 {
  height: 100vh;
}

.information-title {
  width: 400px;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

.information-title ink-select {
  margin-top: 5px;
  position: absolute;
  right: 0px;
}

.information-content {
  max-width: 90%;
  font-weight: 200;
  font-size: 18px;
  text-align: start;
}

.container- {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
}

.container- div {
  width: 70%;
  padding: 15px 0px 0px 0px;
}

.container- div h2 {
  font-size: 30px;
  color: #1a1a1a;
  border-bottom: 1px dashed #cbcbcb;
  padding: 0px 0px 10px 0px;
}

.container- div p {
  font-size: 17px;
  font-weight: 200;
}

.features-container ul li {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}

.highlight {
  width: 100% !important;
  padding: 0px !important;
}

.highlight pre {
  overflow-x: auto;
  padding: 10px;
  background: #f3f3f3;
  border-radius: 5px;
}

.information-footer {
  padding: 20px 10%;
  background: #1a1a1a;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: 200;
  margin-top: 40px;
}

.information-footer p a {
  color: #FFF;
}

/* Table events */

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 50%;
  margin: 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  color: black;
}

@media (max-width: 1000px) {
  table {
    width: 90%;
  }

  .information {
    padding-left: 8%;
  }

  .information-title {
    width: 350px;
    font-size: 35px;
  }

  .container- {
    padding-left: 8%;
  }

  .container- div {
    width: 100%;
  }

  .highlight {
    width: 90% !important;
  }

  .information-footer {
    padding: 20px 12%;
  }
}